.vscode
*.DS_Store
*.ipynb_checkpoints
*__pycache__
*.egg-info
build
dist
tensorflow_macos_venv
bin
data

rsmine/coarsegrainer/runs/*
rsmine/coarsegrainer/src/wandb/*

/mc_dimer/input/run_dimer_daint_demo
mc_dimer/input/run_dimer_daint_demo.sh

.idea
